@import "grid.styl"
//////////
// GRID //
//////////

// Specify the number of columns and set column and gutter widths
columns = 16
column-width = 50
gutter-width = 20
total-width = 100%
$Ancho = 980px
$Azul-KMS = #00C5DB
$Aqua-KMS = #00CCC3
$Rosa-KMS = #FF6168
$Verde-KMS = #A7D06A
$Dorado-KMS = #D1B55D
$Gris-KMS = #F2F2F2
$Gris-Claro-KMS = #dfdfdf
$Gris-MuyOscuro-KMS = #666666
$Gris-Oscuro-KMS = #808080

body
	margin 0
	padding 0
	background-image url("../../Images/Background/Background.Landscape.gif"), url("../../Images/Background/Background.Clouds.jpg")
	background-color $Azul-KMS
	background-position bottom, center
	background-repeat repeat-x, no-repeat
	background-size 320px, contain
	color $Gris-Oscuro-KMS
h1, h2, h3, h4, h5, h6
	color $Gris-MuyOscuro-KMS
img
	max-width 100%
header
	position fixed
	width 100%
	height 3em
	background white
	display block
	clear both
	z-index 200
	box-shadow 0 3px 5px rgba(0,0,0,.1)
	border-bottom 3px solid $Gris-Claro-KMS
	h1
		margin 0
		padding .1em 0 0 0
		display inline-block
		vertical-align middle
	nav
		display inline-block
		vertical-align middle
		margin-left 1em
		ul
			padding 0
			margin 0
			li
				display inline-block
				text-align center
				a
					text-decoration none
					color $Azul-KMS
					padding .5em 1em
					transition all .25s ease
					&:hover, &.activo
						color white
						background $Rosa-KMS
	.configuracion-header
		background url("../../Images/Header/Header.Config.jpg")
		background-size contain
		display inline-block
		vertical-align middle
		width 28px
		height 28px
		text-align right
		position relative
		cursor pointer
		margin 0 1em
	.alertas-header
		background url("../../Images/Header/Header.Notifications.jpg")
		background-size contain
		display inline-block
		vertical-align middle
		width 35px
		height 28px
		text-align right
		position relative
		cursor pointer
		span
			display inline-block
			background $Rosa-KMS
			width 1.25em
			height 1.25em
			border-radius 100%
			color white
			text-align center
			position absolute
			top -.5em
			left -.5em
	.buscador-header
		display inline-block
		float right
		padding-top .55em
		color $Azul-KMS
		input
			border 2px solid #00CCC3
			padding .25em 1em
			color $Azul-KMS
		input.submit
			display inline-block
			vertical-align top
			background-color #00CCC3
			background-image url("../../Images/Header/Header.Search.jpg")
			background-position center
			background-repeat no-repeat
			border-color #00CCC3
			margin 0
			margin-left -.3em
		&:focus
			border 2px solid $Azul-KMS
footer
	color white
	position relative
	bottom 0
	left 0
	width 100%
	height 90px
	clear both
	&:after
		content url("../../Images/Background/Background.Girl.gif")
		position absolute
		top -166px
		right 0
		z-index -100
	nav
		margin-top 1em
		display inline-block
		ul
			margin 0
			padding 0
			li
				display inline-block
				&:after
						content " / "
						font-weight bold
				&:last-child:after
					content " "
				a
					color white
					font-weight light
					text-decoration none
#wrap
	width $Ancho
	margin 5em auto 3em
	background white
	position relative
	z-index 100
#sidebar
	column(4)
	box-sizing border-box
	background $Gris-KMS
	display inline-block
	vertical-align top
	height auto
	padding-top 1em
	padding-bottom 1em
	margin-top -1em
	margin-bottom -1em
	margin-left 0
	color $Gris-Oscuro-KMS
	position relative
	border-right 2px solid #ddd
	&:after
		content url("../../Images/Sidebar/Sidebar.Shadow.Down.png")
		position absolute
		right -1.1em
		bottom 0
		width 1em
		height 1em
	&:before
		content url("../../Images/Sidebar/Sidebar.Shadow.Up.png")
		position absolute
		right -1.1em
		top 0
		width 1em
		height 1em
	h2
		font-size 1.25em
	h3
		color $Gris-MuyOscuro-KMS
		border-bottom 1px solid $Gris-Claro-KMS
		margin 0
		padding-bottom .5em
		font-size .9em
	a
		color $Azul-KMS
		text-decoration none
	#Usuario
		text-align center
		padding 0 1em
		figure
			border-radius 100px
			border 1px solid $Azul-KMS
			padding 1em
			overflow hidden
			width 120px
			height 120px
			margin 1em auto
			img
				width 120px
				height 120px
				border-radius 100%
		.distancia
			display block
			font-size 2.5em
			color $Azul-KMS
	#recompensaDash
		margin-top 1em
		color $Dorado-KMS
		padding 1em
		text-align center
	#tipDelDia
		figure
			display block
			padding 0
			margin 0 auto
			max-width 60px
		h3
			color #E7BB4D
			text-align center
			border-bottom 2px solid #E7BB4D
			margin 0 1em
		article
			padding .5em 1em
			text-align center
	#tusRecompensas
		padding 1em
		text-align left
		ul
			padding 0 0 .5em 0
			margin 0
			li
				border-bottom 1px solid $Gris-Claro-KMS
				display block
				margin .25em 0
				padding .25em 0
				.recompensa
					width 70%
					display inline-block
					text-align left
				.kilometros
					width 25%
					display inline-block
					text-align right
					color $Azul-KMS
	#amigos
		padding 1em
		ul
			padding 0
			margin-top 1em
			margin-bottom 0
			li
				display inline-block
				margin-bottom .75em
				padding-bottom .5em
				border-bottom 1px solid $Gris-Claro-KMS
				figure
					width 25%
					height 25%
					margin 0 2% 0 0
					display inline-block
					vertical-align middle
					border-radius 100%
					overflow hidden
					img
						border-radius 100%
				.datos
					width 70%
					display inline-block
					vertical-align middle
					overflow hidden
					.nombre
						display block
						clear both
					.kms
						color $Azul-KMS
#contenidos
	column(12)
	display inline-block
	vertical-align top
	overflow hidden
	text-align center
	min-height 920px
	height auto
.contenedor2
	width $Ancho
	margin 0 auto
	display block
	clear both
.contenedor
	width $Ancho
	margin 0 auto
	display block
	clear both
	overflow hidden
.ocultar
	display none
.titulo
	text-align center
	padding 1.5em 0
	display block
	clear both
	hr
		margin-top 1em
		border 0px solid
		border-top: 1px solid $Gris-Claro-KMS
	h2
		margin -1em 0 0 0
		background #fff
		display inline-table
		padding 0 1em
		color $Azul-KMS
#badge
	text-align center
	margin 0
	padding 0
#recompensasLiberadas
	text-align center
	.recompensa
		column(3)
		float none
		display inline-block
		vertical-align top
		text-align center
		margin-bottom 1em
		h3
			color $Verde-KMS
			font-size 1.5em
			font-weight lighter
			margin .5em
		p
			margin .5em 0
		strong
			color $Gris-Claro-KMS
			font-size 1.75em
#tipsGodines
	text-align center
	overflow hidden
	#Navegacion-Tips
		margin-top 3em
		nav
			display block
			ul
				padding 0
				margin 0
				li
					display inline-block
					margin 0 1em
		#contenidosAjax
			padding-top 1em
			height 800px
			overflow-y auto
			figure
				column(2)
				push(.5)
				display inline-block
				vertical-align top
			article
				column(8)
				push(.5)
				display inline-block
				vertical-align top
				text-align left
				em
					color $Rosa-KMS
				strong
					color $Azul-KMS
#recorridoSueno
	text-align center
#actividad
	.tresCol
		column(5)
		font-size 2.25em
		letter-spacing 0
		color $Rosa-KMS
		margin-top 1em
		display inline-block
		float none
		p
			margin 0
			display block
		em
			font-size .75rem
			margin 0
			display block
		.peque
			font-size 1.5rem
	.equivalencias
		column (11)
		push(2)
		color $Rosa-KMS
		display inline-block
		li
			column(5)
			figure
				column(6)
				margin 0
				padding 0
			>span
				column(10)
				color $Gris-Oscuro-KMS
				span
					display block
	#graficas
		display block
		clear both
		padding 1em 0
		#graficaDiaria
			column(16)
			h2:before
				content url("../../Images/Gui/Gui.Graph.jpg")
				margin-right 1em
				vertical-align middle
				display inline-block
		#graficaMensual
			column(8)
			h2:before
				content url("../../Images/Gui/Gui.Monthly.jpg")
				margin-right 1em
				vertical-align middle
				display inline-block
		#graficaActividad
			column(8)
			h2:before
				content url("../../Images/Gui/Gui.Activity.jpg")
				margin-right 1em
				vertical-align middle
				display inline-block
		#chartActividad
			float left
		#datos
			margin-top 3em
			text-align center
			display inline-block
			p
				font-size .75rem
				margin .25em
			span
				font-weight bold
				display block
				&.actividadColor
					border-bottom 5px solid #C2F27B
					margin-bottom 1em
				&.suenoColor
					border-bottom 5px solid #A7D06A
.tipGodin
		column(14)
		display inline-block
		float none
		figure
			column(3)
			display inline-block
			float none
		article
			column(10)
			push(1)
			display inline-block
			float none
			h2
				color $Verde-KMS
				margin 0
.titulo-tip-godin
	column(14)
	display inline-block
	float none
	overflow hidden
	clear both
	h3
		display inline-block
		float left
		background white
		padding-right 1em
		color $Azul-KMS
	hr
		border 0 solid
		border-top 2px solid $Azul-KMS
		margin-top 1.75em
		&:after
			content " "
			display block
			width 1.5em
			height 1.75em
			background $Azul-KMS
			float right
			border-radius 0 0 .25em .25em
.ocultar
	display none
.recorridoSueno
	display block
	overflow hidden
	clear both
	text-align center
.bottom-abajo
	display block
	clear both
	width 100%
	height 3em
.botonDorado
	display inline-block
	width 100%
	background-color #E7BB4D
	color white!important
	padding .5em 0
	margin .5em 0
	font-size .85em
	transition all .25s ease
	&:hover
		background-color #CE9F36
#redes-sidebar
	text-align center
	position absolute
	width 100%
	bottom 0
	left 0
	ul
		padding 0
	li
		display inline-block
	a
		display block
		width 30px
		height 30px
		&.facebook
			background-image url("../../Images/Gui/Social/Gui.Facebook.png")
			background-size 30px
			&:hover
				background-image url("../../Images/Gui/Social/Gui.Facebook.Hover.png")
		&.twitter
			background-image url("../../Images/Gui/Social/Gui.Twitter.png")
			background-size 30px
			&:hover
				background-image url("../../Images/Gui/Social/Gui.Twitter.Hover.png")
		&.corona
			background-image url("../../Images/Gui/Social/Gui.Crown.png")
			background-size 30px
			&:hover
				background-image url("../../Images/Gui/Social/Gui.Crown.Hover.png")
.tituloGrafica
	text-align left
	display block
	clear both
	overflow hidden
	h2
		font-size .75rem
		display block
		float left
		background white
		padding-right 1em
		color $Azul-KMS
	hr
		display block
		margin-top 1.1em
		border 0 solid
		border-top 1px solid $Azul-KMS
	img
		vertical-align middle
.redes
	display inline-block
	float right
	li
		display inline-block
		margin 0 .5em
	a
		display block
		width 30px
		height 30px
		&.facebook
			background-image url("../../Images/Gui/Social/Gui.Facebook.png")
			background-size 30px
			&:hover
				background-image url("../../Images/Gui/Social/Gui.Facebook.Hover.png")
		&.twitter
			background-image url("../../Images/Gui/Social/Gui.Twitter.png")
			background-size 30px
			&:hover
				background-image url("../../Images/Gui/Social/Gui.Twitter.Hover.png")
		&.corona
			background-image url("../../Images/Gui/Social/Gui.Crown.png")
			background-size 30px
			&:hover
				background-image url("../../Images/Gui/Social/Gui.Crown.Hover.png")
.tips-items
	width 80%!important
	display block!important
	margin 0 auto!important
	float none!important
	clear both
	margin-bottom 1em
	.redes
		margin 0
	.redesTips
		float left
		width 30px
		margin-right 1em
	.contenido-tips
		h3
			color $Verde-KMS
			margin 0
			display inline-block
.paginacion
	ul
		margin 0
		padding 0
		li
			display inline-block
		a
			color black
			display block
			padding .5em
			text-decoration none
			&:hover
				color white
				background-color $Rosa-KMS
.tipGodin
	.redes
		text-align center
		width 100%
		display block
		padding 0
		margin 0 auto

.proxRecomp
	display block
	margin-bottom .5em
.kms
	font-size 2.1em /* original 2.5em */
	display inline-block
	vertical-align middle
.bandera
	display inline-block
	vertical-align middle
#barra
	width 100%
	height 1em
	background #F6DC7F
	border-radius 1em
	overflow hidden
	margin-top .5em
	.progreso
		background #DBBA4D
		background-image url("../../Images/Sidebar/Sidebar.Bar.gif")
		height 1em
		border-radius 1em
#prox-recompensa
	width 100%
	clear both
	.info-recomp
		column(8)
	.bandera
		column(4)
		push(1)
	.proxRecomp
		color $Dorado-KMS

#recompensasLiberadas
	width 80%
	margin 0 auto
	clear both
	overflow hidden
	.itemLiberada
		clear both
		overflow hidden
		display block
		margin-bottom 1em
		figure
			padding 0
			margin 0
		.info
			column(9)
			text-align left
			figure
				column(5)
				margin 0 1em 0 0
			h3
				color $Verde-KMS
				margin 0
				font-size 2em
			h4
				margin 0
				color #00CCC3
			p
				margin 0
		.empresa
			column(3)
			figure
				border 1px solid $Verde-KMS
				display block
				width 100%
				padding .25em 2em
#solicitudes, #amigos
	width 80%
	margin 0 auto
	overflow hidden
	clear both
	.amigosItem
		border-bottom 1px solid #ccc
		padding .5em 0
	.solicitudItem, .amigosItem
		column(5.3)
		display inline-block
		figure
			column(4)
		.info
			column(12)
			text-align left
			font-size .9em
			h4
				margin 0
				font-size 1em
	.kms
		font-size 1em
		color #71CAC2
.btn
	display block
	background $Gris-Claro-KMS
	color $Gris-MuyOscuro-KMS
	text-decoration none
	padding .25em 0
	margin .5em 0
	text-align center
	transition all .5s ease
	overflow hidden
	clear both
	max-width 200px
	&:hover
		background darken($Gris-Claro-KMS, 10%)
	&.centro
		margin 0 auto
	&.aceptar
		background-color #54E094
		color white
		&:hover
			background-color darken(#54E094 , 25%)
	&.rechazar
		background-color #00CCC3
		color white
		&:hover
			background-color darken(#00CCC3 , 10%)
.amigosCant
	display block
	margin 0
	text-align left
	font-size .8em
	margin -1em 0 0 2em
.amigosComparativa
	display block
	overflow hidden
	clear both
	.tresCol
		column(5)
		font-size 2.25em
		letter-spacing 0
		color $Rosa-KMS
		margin-top 1em
		line-heigt 0
		display inline-block
		p
			margin 0
			display block
		em
			font-size .75rem
			margin 0
			display block
		.peque
			font-size 1.5rem
	.equivalencias
		column (11)
		color $Rosa-KMS
		margin 1em auto
		display inline-block
		li
			column(5)
			figure
				column(6)
				margin 0
				padding 0
			>span
				column(10)
				color $Gris-Oscuro-KMS
				span
					display block
.usuarioDatos
	display block
	overflow hidden
	clear both
	.tresCol
		column(12)
		push(2)
		font-size 2.25em
		letter-spacing 0
		color $Rosa-KMS
		margin-top 1em
		margin-bottom .5em
		padding-bottom .5em
		line-heigt 0
		display inline-block
		border-bottom 1px solid $Gris-Claro-KMS
		p
			margin 0
			display block
		em
			font-size .75rem
			margin 0
			display block
		.peque
			font-size 1.5rem
	.equivalencias
		column (12)
		push(2)
		color $Rosa-KMS
		display inline-block
		li
			column(5)
			figure
				column(6)
				margin 0
				padding 0
			>span
				column(10)
				color $Gris-Oscuro-KMS
				span
					display block
#perfilEditar
	width 80%
	margin 5em auto 0 auto
	.informacion
		column(8)
		dl
			text-align left
			font-weight bold
			dt
				float left
				clear left
				width 70px
				color #00CCC3
			dd
				float left
				clear right
	.Usuario
		column(4)
		text-align center
		padding 0 1em
		margin-right 1em
		figure
			border-radius 100px
			border 1px solid $Azul-KMS
			padding 1em
			overflow hidden
			width 120px
			height 120px
			margin 1em auto
			position relative
			img
				width 120px
				height 120px
				border-radius 100%
		.cambiarFoto
			display block
			width 121px
			height 121px
			margin 1em
			border-radius 100%
			background-color transparent
			position absolute
			top 0
			left 0
			opacity 0
			&:hover
				opacity 1
.notificacionesPop
	width 300px
	text-align left
	padding 0
	margin-top 3em
	&:before
		content ""
		display block
		width 0px
		height 20px
		border 20px solid transparent
		border-bottom 20px solid #eee
		margin-top -3em
	li
		display block
		clear both
		padding .5em
		background #eee
		border 1px solid $Gris-Claro-KMS
		overflow hidden
		&:hover
			background lighten($Gris-Claro-KMS, 70%)
		figure
			column(3)
		h4
			margin 0
		p
			margin 0
		.info
			column(12)
			&:after
				content ">"
				display block
				float right
				margin-top -1.5em
				margin-right -1em
				color #00CCC3
				font-weight bold
.resultados
	column(12)
	push(2)
	text-align left
	p
		margin 1em 0 .25em
	h3
		color #00CCC3
		margin .25em 0
.busquedaResultados
	column(12)
	push(2)
	padding 0
	text-align left
	li
		column(16)
		display inline-block
		padding-bottom .5em
		margin-top .5em
		border-bottom 1px solid $Gris-Claro-KMS
		a
			text-decoration none
			display block
			figure
				display inline-block
				float left
				margin 0
				padding 0
				width 50px
				height 50px
			.info
				display block
				margin-left 1em
				float left
				h4
					margin 0
				p
					color #00CCC3
					margin .25em 0