<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://kms-web-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-ch1-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>kms-web-api</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$kms-web-api</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MainModelContainer" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:ics1j1r8vx.database.windows.net,1433;Initial Catalog=kms-api-aAzKXwik7v;User ID=kms-api@ics1j1r8vx;Password=LrNH8bCQ" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="KilometrosDatabase.MainModelContainer, Kilometros Database" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MainModelContainer-Web.config Connection String">
      <ParameterValue>metadata=res://*/MainModel.csdl|res://*/MainModel.ssdl|res://*/MainModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:ics1j1r8vx.database.windows.net,1433;Initial Catalog=kms-api-aAzKXwik7v;User ID=kms-api@ics1j1r8vx;Password=LrNH8bCQ"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>