
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OAuthTokenInvalid</title>
</head>
<body>
    <div> 
        Token provided is invalid, or wasn't provided at all...
    </div>
</body>
</html>
