.help-page h1,
.help-page .h1,
.help-page h2,
.help-page .h2,
.help-page h3,
.help-page .h3,
#body.help-page,
.help-page-table th,
.help-page-table pre,
.help-page-table p,
.help-page ul {
	font-family: "Segoe UI Semilight", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

.help-page h1,
.help-page .h1,
.help-page h2,
.help-page .h2,
.help-page h3,
.help-page .h3,
#body.help-page,
.help-page-table th,
.help-page-table pre {
	color: #00C5DB;
}

.help-page pre.wrapped {
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	white-space: pre-wrap;
}

.help-page .warning-message-container {
	margin-top: 20px;
	padding: 7px 20px;
	color: #525252;
	background: #FFF9BC; 
	border: none;
}

.help-page-table {
	width: 100%;
	border-collapse: collapse;
	text-align: left;
	margin: 0px 0px 20px 0px;
	border-top: 1px solid #D4D4D4;
}

.help-page-table th {
	text-align: left;
	font-weight: bold;
	border-bottom: 1px solid #D4D4D4;
	padding: 5px 6px 5px 6px;
}

.help-page-table td {
	border-bottom: 1px solid #D4D4D4;
	padding: 10px 8px 10px 8px;
	vertical-align: top;
}

.help-page-table:not(.full-body) pre,
.help-page-table:not(.full-body) p {
	margin: 0px;
	padding: 0px;
	font-family: inherit;
	font-size: 100%;
}

.help-page a:hover {
	background-color: transparent;
}

.help-page .sample-header {
	border: 2px solid #D4D4D4;
	background: #00C5DB;
	color: #FFFFFF;
	padding: 8px 15px;
	border-bottom: none;
	display: inline-block;
	margin: 10px 0px 0px 0px;
}

.help-page .sample-content {
	display: block;
	border-width: 0;
	padding: 15px 20px;
	background: #FFFFFF;
	border: 2px solid #D4D4D4;
	margin: 0px 0px 10px 0px;
}

.help-page .api-name {
	width: 40%;
}

.help-page .api-documentation {
	width: 60%;
}

.help-page .parameter-name {
	width: 20%;
}

.help-page .parameter-documentation {
	width: 40%;
}

.help-page .parameter-type {
	width: 20%;
}

.help-page .parameter-annotations {
	width: 20%;
}

.help-page h1,
.help-page .h1 {
	font-size: 36px;
}

.help-page h2,
.help-page .h2 {
	font-size: 24px;
}

.help-page h3,
.help-page .h3 {
	font-size: 20px;
}

#body.help-page {
	font-size: 14px;
	line-height: 143%;
	color: #333;
}

.help-page a {
	color: #FF6168;
	text-decoration: none;
}

#body {
	width: 60%;
	margin: 90px auto;
	padding: 30px 70px;
	background: #fff;
}

body {
	background: #00C5DB;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 58px;
	padding-top: 10px;
	
	background: #fff;
	border-bottom: 3px solid #dfdfdf;
}

#kms-api-logo {
	background: url(kms-api-docs.png) no-repeat center center;
	width: 244px;
	height: 52px;
	display: inline-block;
}

header .content-wrapper {
	margin: 0 15%;
}

header nav {
	display: inline-block;
	vertical-align: top;
	height: 30px;
	margin-top: 7px;
	margin-left: -50px;1
}

header nav ul {
	list-style-type: none;
	margin: auto;
}

header nav ul li {
	float: left;
	margin: 0 5px;

	-moz-transition: background-color linear 200ms;
	-o-transition: background-color linear 200ms;
	-webkit-transition: background-color linear 200ms;
	transition: background-color linear 200ms;
}

header nav ul li a {
	display: inline-block;
	padding: 7px 13px;
	color: #00C5DB !important;
	text-transform: uppercase;

	-moz-transition: color linear 200ms;
	-o-transition: color linear 200ms;
	-webkit-transition: color linear 200ms;
	transition: color linear 200ms;
}
header nav ul li:hover, header nav ul li.active {
	background: #00C5DB;
}
header nav ul li:hover a, header nav ul li.active a {
	color: #fff !important;
}
code {
	padding: 2px;
	background: #eee;
}